/* 
 * @theme rubykaigi2026
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 * @size 16:10 1280px 800px
 */

@import 'default';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

section h1 {
    color: #893D24;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 54px;
}

section.title h1 big {
    font-size: 92px;
}

section h2 {
    color: #000000;
    margin-top: 4em;
    text-indent: 0.3em;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

section.title h1 {
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    margin-top: 1.2em;
    padding-top: 2.0em;
    padding-bottom: 1em;
}

section.title h1,
section.title h2,
section.title p,
section.title ul,
section.hero0 h1,
section.hero0 h2,
section.hero0 p,
section.hero0 ul {
    color: #FFFFFF;
}

section.title h2 {
    color: #FFFFFF;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 32pt;
    text-align: center;
    margin-top: 0.5em;
}

section.hero0 h1 {
    color: #FFFFFF;
    font-size: 66px;
    text-align: center;
}

section.hero1 h1 {
    color: #FFFFFF;
    font-size: 40px;
    position: absolute;
    top: 81%;
    left: 86%;
}

section.hero h1 {
    font-size: 66px;
    text-align: center;
}

section:not(.title):not(.hero):not(.hero0):not(.hero1) h1,
section.normal2 h1 {
    position: absolute;
    top: 13%;
}

section p,
section ul {
    color: #000000;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section ul.lowered {
    position: absolute;
    top: 65% !important;
}

section:not(.title):not(.hero):not(.hero0) ul {
    position: absolute;
    top: 28.5%;
}

ul.underpre {
    position: relative !important;
    top: 2.5% !important;
}

ul.underpre2 {
    position: absolute;
    top: 60% !important;
}

section:not(.title):not(.hero):not(.hero0) ul ul {
    position: relative;
}

section.sample2 pre {
    position: relative;
    top: 20%;
}

section.pre-with-desc pre {
    position: relative;
    top: 20%;
}

section li {
    list-style-type: none;
    font-size: 135%;
    margin-left: -1em;
    line-height: 185%;
}

section li::before {
    content: "\2605";
    color: #893D24;
    font-size: 24pt;
    margin-right: 0.4em;
    vertical-align: bottom;
}

section ul li li::marker {
    font-size: 110%;
}

section li ul li::before {
    content: "\2605";
    color: #893D24;
    font-size: 24pt;
    margin-right: 0.4em;
    vertical-align: bottom;
}

section li ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0em;
    font-size: 95%;
}

section li ul li ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 1.5em;
    padding-top: 0.15em;
    font-size: 95%;
}

section.normal img {
    float: right;
    background-color: transparent;
    margin-top: 5%;
}

section.profile img.me {
    position: absolute;
    top: 25%;
    left: 64%;
    overflow: hidden !important;
    border-radius: 50% !important;
}

section.profile img.shr {
    vertical-align: top;
    position: relative;
    top: 6px;
}

section::after {
    color: #000000;
    font-size: 14pt;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section strong {
    color: #E33030;
}

section a {
    color: #E33030;
}

button {
    font-size: 30pt;
}

section.pre-top75 pre {
    margin-top: 40%;
}

section.pre-top80 pre {
    margin-top: 45%;
}

section.pre-top5 pre {
    margin-top: 5%;
}

section.pre-top9 pre {
    margin-top: 9%;
}

section.pre-top20 pre {
    position: relative;
    margin-top: 22%;
}

section.pre-top30 pre {
    position: relative;
    margin-top: 32%;
}

section.img-front img {
    float: none;
    text-align: center;
}

section.two-samples table {
    font-size: 22pt;
    position: relative;
    top: 22%;
}

section.two-samples img {
    float: left;
    margin-top: 0.2em;
}

section.img-top5 img {
    position: relative;
    top: 8%;
    right: 3em;
}

section.img-top6 img {
    position: relative;
    top: 6%;
}

section.img-top20 img {
    position: relative;
    top: 20%;
}

table {
    margin-top: 5%;
    font-size: 28pt;
}

section.table-top5 table {
    font-size: 28pt;
}

section.table-top9 table {
    margin-top: 12%;
    font-size: 28pt;
}

section.table-top15 table {
    margin-top: 17%;
    font-size: 24pt;
}