/* @theme rubykaigi2024 */

@import 'default';
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

section figure {
    background-image: url(./rubykaigi2024-bgs-main.png);
}

section h1 {
    color:black;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

section h2 {
    color:black;
    margin-top: 4em;
    text-indent: 0.3em;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: bold;
}

section.title h1 {
    width: 63%;
    font-size: 66px;
    text-align: center;
}

section.title h2 {
    width: 63%;
    color:black;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-size: 22pt;
    text-align: center;
}

section.hero h1 {
    font-size: 66px;
    text-align: center;
}

section.normal h1, section.normal2 h1 {
    position: absolute;
    top: 13%;
}

section p, section ul {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

section.normal ul, section.normal2 ul{
    position: absolute;
    top: 30.5%;
}

section.normal ul ul {
    position: relative;
}

section.sample2 pre {
    position: relative;
    top: 20%;
}

section.pre-with-desc pre {
    position: relative;
    top: 20%;
}

section li {
    list-style-type: none;
    font-size: 125%;
    margin-left: -1em;
    line-height: 185%;
}

section li::before {
    content: "";
    font-size: 45pt;
    position: relative;
    top: 5pt;
    border-color: transparent;
    border-width: 0 0 0 45.8pt;
    border-style: solid;
    margin-right: 0.25em;
    background-color: transparent;
    background-image: url("./icon2-1028-2.svg");
    background-repeat: repeat-x;
    vertical-align: middle;
}

section ul li li::marker {
    font-size: 110%;
}

section li ul li::before {
    content: "";
    border: none;
    background-image: none;
}

section li ul li{
    list-style-image: none;
    list-style-type: "\2726";
    margin-left: 1em;
    padding-top: 0.15em;
    font-size: 90%;
}

section img {
    float: right;
    background-color: transparent;
    margin-top: 5%;
}

section::after {
    font-size: 14pt;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;  
}

button { font-size: 30pt; }