/* @theme fukuokarb */
@import 'default';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');

section {
    font-family: "M PLUS Rounded 1c", sans-serif !important;
}
h1 {
    font-weight: 500;
    color: #cc0000;
}
h2, h3 {
    font-weight: 500;
    color: #cc5555;
}
section.hero h1 {
    font-weight: 700 !important;
    font-size: 80px;
}
section.hero2 h1 {
    width: 100% !important;
    font-weight: 700 !important;
    font-size: 80px;
}

strong {
    font-weight: 500;
    color: #cc0000;
}